#contact-map {
  height: 50vh;
  overflow: hidden;
  position: relative;

  .map-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;

    .map-info {
      background-color: getColor(main-color);
      height: 50vh;
      padding: 50px;

      .contact-info-title {
        @include section-title;
        font-family: $body-heading;
        font-size: 11px;
        color: getColor(light-color);
      }

      .contact-info-details {
        color: getColor(light-color);
        text-transform: uppercase;
        font-size: 12px;
        line-height: 30px;
        margin-bottom: 35px;
      }
    }
  }
}
