@font-face {
  font-family: Nespresso;
  src: url(~/assets/fonts/Nespresso.ttf);
}

@font-face {
  font-family: NespressoMed;
  src: url(~/assets/fonts/NespressoMed.ttf);
}

@font-face {
  font-family: TrajanPro;
  src: url(~/assets/fonts/TrajanPro.otf);
}

$heading-font: 'TrajanPro';
$body-font: 'Nespresso';
$body-heading: 'NespressoMed';
