#consultation-box {
    position:fixed;
    bottom:-116px;
    left:0;
    z-index:11;
    background-color: getColor(light-color);
    width:100%;
    border-top: 3px solid getColor(main-color);
    transition: all 0.5s;

    &.is-active {
        bottom:0;
    }

    div {
        padding: 16px;
        font-family: nespressomed;
        padding-left:20px;
        color: getColor(main-color);

        a {
            color: getColor(text-color);
        }
    }

    hr {
        width: 95%;
        margin: 0 auto;
    }
}